body {
  margin: 0;
}

.container {
  background-color: lightskyblue;
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 80px;
  height: 40px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  gap: 12px;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: 600;
}

svg {
  width: 24px;
  display: none;
}

/* card */
.cards-container {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.card {
  width: 18rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px -1px 2px 1px;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
}

.card-title {
  padding: 12px 32px;
}

p {
  margin: 0;
}
.title {
  font-weight: 600;
}

.card-button {
  display: flex;
  justify-content: flex-end;
  padding: 12px 32px;
  padding-bottom: 48px;
}
.card-button button {
  padding: 6px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightskyblue;
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

@media screen and (max-width: 640px) {
  .links {
    display: none;
  }

  svg {
    display: block;
    cursor: pointer;
  }
}
